<%- include('../partials/navbar.ejs') %>
  <section> 
    <div class="container-lg">   
        <div class="row justify-content-start">
          <div class="col-med-6 text-center">
            <h1>
              Flights
            </h1>
            <table class="table table-hover table-striped">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Flight #</th>
                  <th scope="col">Airport</th>
                  <th scope="col">Airline</th>
                  <th scope="col">Departure</th>
                </tr>
              </thead>
              <% flights.forEach((x) => { %>
              <tbody>
                <tr>
                  <th scope="row"><a class="btn btn-outline-secondary border-0" href="/flights/<%= x.id %>"><%= x.flightNo %></a></th>
                  <td><%= x.airport %></td>
                  <td><%= x.airline %></td>
                  <td><%= x.departs.toLocaleDateString()%></td>
                </tr>
              </tbody>
              <% }) %>
            </table>
          </div>
        </div>
    </div>
  </section>
<%- include('../partials/footer.ejs') %>